{% extends 'seller/base_seller.html' %} {% block title %}Payment Methods{%
endblock %} {% block extra_css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/seller_styles/seller_dashboard.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/seller_styles/seller_settings.css') }}"
/>
<link rel="stylesheet" {% extends 'seller/base_seller.html' %} {% block title
%}Redirecting...{% endblock %} {% block page_content %}
<meta http-equiv="refresh" content="0;url={{ url_for('seller.payouts') }}" />
<div style="padding: 24px">Redirecting to Earnings & Payout...</div>
{% endblock %}
<p class="page-subtext"></p>
